body {
    background-color: rgb(34, 32, 32);
    transition: 0.2s all ease-in;
    /* overflow: hidden; */
    color: whitesmoke;

}
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#outer {
    width: 70vw;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;

    margin: 0;
    position: absolute;
    top: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
}

#vals {
    background-color: whitesmoke;
    border: 1px solid black;
    bottom: 0px;
    transition: 0.05s all ease-in;
    margin: 0.05vw;
    align-self: flex-end;   
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 23px;
    color: whitesmoke;
    display: block;
  }
  
  .sidenav a:hover {
    color: blue;
  }


#Stopbtn {
    color: red;
}

